@charset "utf-8";
/* CSS Document */
.basicInfoTitle{
	border-bottom: 4px solid #0099CD;
    font-size: 25px;
    height: 55px;
    line-height: 55px;
    padding-left:25px;
	position:relative;
}
.basicInfoTitle b{
	font-size:20px;
	padding:0 8px;	
}
.basicInfoContent{
	position:relative;	
}
.informationName{
	position:absolute;
	right:10px;
    top: 0;
}
.informationName > span:first-child{
	margin-right:40px;	
	font-size:18px;
	color:#676767;
}

.productOptions{
	position:absolute;	
	width:174px;
	z-index:20;
}
.productOptionsSharp{
	background:url("/static/images/sildLeft/popmenuSettingSharp.png") no-repeat;
	height:13px;
	position:relative;
	top:4px;
	left:136px;
	width:24px;
}
.productOptionsContent{
	width:170px;
	height:108px;
	border:4px solid #0099cd;
	background:#fff;
	border-radius:3px;
}
.productOptionsContent div a.creatDataCenter, .productOptionsContent div a.creatDataCenter:hover{
	border-bottom:none;
	border-top:1px solid #0099cd;
}
.addIconDataCenter{
	display:inline-block;
	width:12px;
	margin-right:3px;
	background:url("/static/images/public/icon/smallicon.png") no-repeat -64px -17px;
}
.productOptionsContent div a, .productOptionsContent div a:hover{
	font-size:14px;
	height:26px;
	line-height:26px;
	padding-left:10px;
	color:#0099cd;
	display:block;	
	border-bottom:1px dotted #ceeaf3;
}
.productOptionsContent div a:hover{
	background:#ceeaf3;
	color:#676767;
}

.informationDetail{
	margin:50px 0;	
	padding-left:25px;
	position:relative;
}
.informationDetail ul{
	margin:9px 0;	
}
.informationDetail ul li{
	float:left;
	width:200px;	
	font-size:18px;
}


.pagination{
	position:fixed;
	height:30px;	
	left:50%;
	bottom:30px;
}
.pagination ul{
	text-align:center;	
}
.pagination ul li{
	float:left;	
}
.informationDetail div a, .informationDetail div a:hover, .pagination ul li a, .pagination ul li a:hover{
	display:inline-block;
	border-radius:15px;
	padding:4px 16px;	
	font-size:16px;
	margin:0 4px;
}
.informationDetail div a, .pagination ul li a{
	border:2px solid #0099cd;
	background:#fff;
	color:#000;	
}
.informationDetail div a:hover, .pagination ul li a:hover{
	border:2px solid #000;
	background:#fff;
	color:#0099cd;	
}
.informationDetailOptions{
	position:absolute;
	right:25px;
	top:0px;	
}