@charset "utf-8";
/* CSS Document */
.tagElement{
	border-bottom:1px solid #0099cd;
	padding:20px 25px;	
}
.tagElementName{
	background: none repeat scroll 0 0 #676767;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px 12px;
}
.subTagElementNameLast{
	background:url("/static/images/public/lastChild.gif")  0 0 no-repeat;
	margin-left:24px;
	padding:10px 24px 0 24px;	
}
/*.subTagElementNameLastHaveChild{
	background:url("/static/images/public/lastHaveChild.gif")  0 0 no-repeat;
	margin-left:24px;
	padding:10px 24px 0 24px;	
}
.subTagElementNameMiddleHaveChild{
	background:url("/static/images/public/lastHaveChild.gif")  0 0 no-repeat;
	margin-left:24px;
	padding:10px 24px 0 24px;	
}*/
.subTagElementNameMiddle{
	border-left:1px solid #0099cd;
	background:url("/static/images/public/middleChild.gif")  0 0 no-repeat;
	margin-left:24px;
	padding:10px 24px 0 24px;	
}
.newTagname{
	border: 1px solid #0099CD;
    border-radius: 18px 18px 18px 18px;
    height: 20px;
	line-height:20px;
	vertical-align: top;
    padding: 0 10px;
    width: 60px;	
}
.newTagnameOperate, .newTagnameOperate:hover{
	border-radius: 18px 18px 18px 18px;
    display: inline-block;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    padding: 0 15px;
    text-align: center;	
}
.newTagnameOperate{
	background: none repeat scroll 0 0 #0099CD;
    color: #FFFFFF;
}
.newTagnameOperate:hover{
	background: none repeat scroll 0 0 #676767;
    color: #FFFFFF;
}